<h1>
  {{title}}
</h1>

<label>Input Text</label>
<input type="text" [ngModel]="inputNumber" disabled="true">
<br><br>

<div>
  <button (click)="updateInputNumber(1)">1</button>
  <button (click)="updateInputNumber(2)">2</button>
  <button (click)="updateInputNumber(3)">3</button>
  <button (click)="updateInputNumber(4)">4</button>
  <button (click)="updateInputNumber(5)">5</button>
  <br>
  <button (click)="updateInputNumber(6)">6</button>
  <button (click)="updateInputNumber(7)">7</button>
  <button (click)="updateInputNumber(8)">8</button>
  <button (click)="updateInputNumber(9)">9</button>
  <button (click)="updateInputNumber(0)">0</button>
  <br>
</div>

<div>
  <button (click)="add()">+</button>
  <button (click)="subtract()">-</button>
  <button (click)="multiply()">*</button>
  <button (click)="divide()">/</button>
  <button (click)="doMath()">=</button>
    <br>
  <button (click)="clear()">Clear</button>

</div>


<div class="answer" *ngIf="answer">
  <span>The Answer: {{answer}}</span>
</div>

