<table>
  
  
    <tr>
      <td>
        <button>7</button>
        <button>8</button>
        <button>9</button>
        <button>/</button>
      </td>
    </tr>
  
    <tr>
      <td>
        <button>4</button>
        <button>5</button>
        <button>6</button>
        <button>*</button>
      </td>
    </tr>
  
    <tr>
      <td>
        <button>1</button>
        <button>2</button>
        <button>3</button>
        <button>+</button>
      </td>
    </tr>

    <tr>
      <td>
    <button>0</button>
    <button>Clear </button>
    <button>-</button>
      </td>
    </tr>

</table>

<hr>

<table>
  <tr>
    <td>7</td>
    <td>8</td>
    <td>9</td>
    <td>-</td>
  </tr>
  <tr>
    <td>4</td>
    <td>5</td>
    <td>6</td>
    <td>*</td>
  </tr>
  <tr>
    <td>1</td>
    <td>2</td>
    <td>3</td>
    <td>+</td>
  </tr>

